@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
/* --------------------------------------------------------------------*/
/* --------------------------------------------------------------------*/
/* --------------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  box-sizing: border-box;
  letter-spacing: 0;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  margin: 0;
}

a {
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}

span {
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  display: inline-block;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

html,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

.button-more-wrapper {
  border: 1.5px solid #000000;
  background-color: #ffffff;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  height: 36px;
  width: 140px;
  border-radius: 1000px;
  transition-duration: 0.4s;
}
@media screen and (max-width: 850px) {
  .button-more-wrapper {
    margin-top: 8px;
  }
}
.button-more-wrapper:hover {
  transform: scale(1.05);
}
.button-more-wrapper .button-more {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.button-more-wrapper .button-more .text {
  font-family: "Noto Sans JP", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 1.6em;
  color: #000000;
  font-weight: 700;
}
.button-more-wrapper .button-more .arrow-img-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  right: 0;
  top: 40%;
}
.button-more-wrapper .button-more .arrow-img-wrapper .img {
  height: 100%;
  color: #ffffff;
}

.hamburger-wrapper {
  margin: auto 0;
  display: none;
}
@media screen and (max-width: 850px) {
  .hamburger-wrapper {
    display: block;
  }
}

.hamburger {
  width: 40px;
  height: 25px;
  position: relative;
  transition: 0.5s; /* 追記 */
}

.hamburger span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000000;
  transition: 0.5s; /* 追記 */
}

.hamburger span:first-of-type {
  /* ハンバーガーメニューの1番目の線 */
  top: 0;
}

.hamburger span:nth-of-type(2) {
  /* ハンバーガーメニューの2番目の線 */
  top: 50%;
}

.hamburger span:last-of-type {
  /* ハンバーガーメニューの3番目の線 */
  top: 100%;
}

.hamburger.active {
  transform: rotateY(360deg);
}

.hamburger.active span:first-of-type {
  /* ハンバーガーメニューの1番目の線 */
  top: 50%;
  transform: rotate(45deg);
}

.hamburger.active span:nth-of-type(2) {
  /* ハンバーガーメニューの2番目の線 */
  opacity: 0; /* 透明にする */
}

.hamburger.active span:last-of-type {
  /* ハンバーガーメニューの3番目の線 */
  top: 50%;
  transform: rotate(-45deg);
}

@media screen and (max-width: 850px) {
  .slide-menu {
    height: calc(100% - 80px);
    position: fixed;
    width: 100%;
    top: 80px;
    right: -100%;
    transition: 0.5s;
  }
}
.slide-menu.active {
  right: 0;
}

@font-face {
  font-family: "font";
  src: url("../font/IBMPlexMono-Regular.woff2") format("woff2");
}
body {
  background-color: #333;
  margin: auto;
}

#img {
  color: #fff;
}

label {
  color: #fff;
}

#preview {
  font-family: "IBM Plex Mono", monospace;
  font-size: 10px;
  line-height: 8px;
  margin-top: 5%;
  transform-origin: top left;
}

#bg {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 3%;
  background-color: #fff;
}

p {
  color: #fff;
  margin: 5px;
}/*# sourceMappingURL=style.css.map */