@use "../mixin" as m;
@use "responsive" as r;
/* --------------------------------------------------------------------*/

/* --------------------------------------------------------------------*/

/* --------------------------------------------------------------------*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    @include m.bsz(border-box);
    letter-spacing: 0;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

html {
    height: 100%;
    overflow-y: scroll;
}

body {
    margin: 0;
}

a {
    @include m.trs();
    text-decoration: none;
    cursor: pointer;
}

span {
    @include m.trs();
    display: inline-block;
}

img {
    width: 100%;
}

li {
    list-style: none;
}
